@model Domain.UserInGroup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserInGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Since)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Since)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Until)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Until)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserGroupId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserGroupId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
